@model RegisterViewModel
@{
    ViewData["Title"] = "Профіль користувача";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Інформація про користувача</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4 fw-bold">
                            @Html.DisplayNameFor(m => m.Username)
                        </div>
                        <div class="col-md-8">
                            @Model.Username
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4 fw-bold">
                            @Html.DisplayNameFor(m => m.FullName)
                        </div>
                        <div class="col-md-8">
                            @Model.FullName
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4 fw-bold">
                            @Html.DisplayNameFor(m => m.Email)
                        </div>
                        <div class="col-md-8">
                            @Model.Email
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4 fw-bold">
                            @Html.DisplayNameFor(m => m.PhoneNumber)
                        </div>
                        <div class="col-md-8">
                            @Model.PhoneNumber
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">На головну</a>
                    <a asp-action="Logout" class="btn btn-danger">Вийти</a>
                </div>
            </div>
        </div>
    </div>
</div>